@model HrApplication.Models.employeescshtml
<h1 class="mt-4">Employee Form</h1>
<form asp-action="employees" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="name" class="form-label"></label>
        <input asp-for="name" class="form-control" placeholder="Enter Name" />
    </div>
    <div class="mb-3">
        <label asp-for="department" class="form-label"></label>
        <input asp-for="department" class="form-control" placeholder="Enter Department" />
    </div>
    <div class="mb-3">
        <label asp-for="isacticve" class="form-label"></label>
        <select asp-for="isacticve" class="form-control">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="gmail" class="form-label"></label>
        <input type="email" asp-for="gmail" class="form-control" placeholder="Enter Email" />
    </div>
    <div class="mb-3">
        <label asp-for="jobtitle" class="form-label"></label>
        <input asp-for="jobtitle" class="form-control" placeholder="Enter Job Title" />
    </div>
    <div class="mb-3">
        <label asp-for="birthdate" class="form-label"></label>
        <input type="date" asp-for="birthdate" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
