@{
    ViewData["Title"] = "Home Page";
}
<div class="container text-center mt-5">
    <h1 class="display-4">HR Application</h1>
    <img src="~/NewFolder3/Screenshot55555.png" class="img-fluid" style="max-width:150px;" alt="HR App Logo" />
    <div class="mt-4">
        <a asp-action="employees" class="btn btn-primary m-2">Employees Form</a>
        <a asp-action="allemployees" class="btn btn-success m-2">All Employees</a>
    </div>
</div>
